@font-face {
	font-family: 'GEASRedditSans';
	src: url('../tool/fonts/GEASRedditSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GEASRedditSans';
	src: url('../tool/fonts/GEASRedditSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GEASRedditSansCondensed';
	src: url('../tool/fonts/GEASRedditSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GEASRedditSansCondensed';
	src: url('../tool/fonts/GEASRedditSansCondensed-Regular.ttf');
	font-weight: bold;
	font-style: normal;
}


body {
	font-family: "GEASRedditSans", "Verdana";
	color: #E2D8CF;
	background-color: black;
}

@media only screen and (max-width: 1000px) {
    body {
        font-family: "GEASRedditSansCondensed", "Verdana";
    }
}

@media screen and (min-width: 480px) {
   body  {
      margin: 0 10%;
   }
}

a {
	color: #A2787A;
}

header {
	position: relative;
	padding-left: 100px;
}

header.big {
	padding-left: 0;
}

.logo {
	position: absolute;
	left: 0;
	width: 100px;
}

.masthead {
	display: inline-block;
}

.masthead.big {
	font-size: 200%;
}


.banner {
	height: 4em;
	display: block;
}

h1 {
	margin: 0;
	padding: 0.5em;
	background-color: #5D3032;
	color: #d5c0c0;

}

h1 .title {
	font-size: 1.5ex;
}

h1 .subtitle {
	font-size: 1ex;
	text-align: right;
}


.masthead a {
	text-decoration: none;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu::after {
  content: "";
  display: block;
  clear: both;
}

.menu li {
	float: left;
	border: 1px solid #5D3032;
	border-top: none;
	padding: 0.3em;
	margin: 0 0.4em 0 0;
	text-decoration: none;
}

.menu li.active {
	background-color: #5D3032;
}

.menu li.active a {
	color: #F1D9DA;
}

.menu a {
	text-decoration: none;
}

.menu .highlight {
	background-color: #30191a;
}

.toolbox {
	float: right;
	margin: 0.5em;
	padding: 0.5ex 1em 1ex 1em;
	border-radius: 10px;
	background-color: #2a2a2a;
}

.toolbox h3 {
	text-align: center;
	margin: 0.5em 0;
}

.toolbox a {
	display: block;
	text-align: center;
	padding: 0.1em;
	margin: 0.5m 0;
}

aside {
	margin: 0.5em;
	padding: 1em;
	background-color: rgba(214, 217, 218, 0.2);
	float: right;
}

aside img {
	float: right;
	max-width: 15em;
}

.listing li {
	list-style: none;
	background-color: #5D3032;
	margin: 0.5em;
}

.listing .entry {
	display: block;
	padding: 0.5em;
	overflow: auto;
	clear: both;
}

.listing h3 {
	margin: 0;
}

.listing .download-button {
	display: block;
	padding: 0.5em;
	overflow: auto;
	color:#E2D8CF;
	background-color: rgba(214, 217, 218, 0.2);
	display: inline-block;
	border-radius: 5px;
}

.news .intro {
	font-size: 1.2em;
	margin: -0.5em 0 1.5em 0;
}

.news article {
	margin: 0.3em 0;
	padding: 0.6em;
	color: #A2787A;
	background-color: rgba(93, 48, 50, 0.8);
}

.news a {
	text-decoration: none;
}

.news h3 {
	margin-top: 0;
	color: #F1D9DA;
}

.news h3 .date {
	margin: 0;
	color: #A2787A;
}

.team li {
	position: relative;
	display: block;
	padding: 0.5em;
	overflow: auto;
	clear: both;
}

.team .photo {
	float: left;
	width: 10em;
}

.team .photo img {
	width: 9em;
}


dl.member-details {
	display: flex;
	flex-direction: column;
   }

   dl > div {
	display: flex;
	flex-direction: row;
	width: 100%;
   }

   dt {
	flex-basis: 20%;
	padding: 2px 5px;
	text-align: right;
	color: #fff;
   }

   dd {
	flex-basis: 70%;
	flex-grow: 1;
	margin: 0;
	padding: 2px 5px;
   }

table.journal td {
	padding: 0.5em;
}

table.journal tr {
	background-color: #31191a;
}

table.journal tr:nth-child(odd) {
	background-color: #313131;
}

table.journal a {
	text-decoration: none;
}

.download-button {
	display: block;
	padding: 0.5em;
	overflow: auto;
	color:#E2D8CF;
	background-color: rgba(214, 217, 218, 0.2);
	display: inline-block;
	border-radius: 5px;
}





#background {
   position: fixed;
   top: 0;
   bottom: 0;
   left: -1em;
   right: -1em;
   z-index: -1;
   overflow: hidden;
   opacity: 0.15;
   font-size: 100pt;
   word-break: break-all;
   filter: blur(3px);
}
