<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ partial "header" . }}

    <section class="news">
        <h2>News</h2>
        By using the GEAS decipherment tool with its dynamic syllabary sequence detection method,
        we have contributed to a number of small-step decipherment advancements with results
        partially or fully accepted among scholars.
        {{ range where site.RegularPages "Section" "news" }}
        <a href="{{ .RelPermalink }}">
        <article>
            <h3>
                <span class="date">{{ .Params.date.Format "2006.01.02" }}</span>
                {{ .Params.title }}
            </h3>
            {{ $summary := index (split .Content "</p>") 0 }}
            {{ $summary | plainify | truncate 400 "…" }}
        </article>
        </a>
        {{ end }}
    </section>

    {{ .Content }}

</body>
</html>
