<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ partial "header" . }}

    <section class="news">
        <h2>News</h2>
        {{ range where site.RegularPages "Section" "news" }}
        <h3><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h3>
        <p>{{ .Params.date.Format "2006-01-02" }}</p>
        <p>
        {{ $summary := index (split .Content "</p>") 0 }}
        {{ $summary | plainify }}
        </p>
        {{ end }}
    </section>

    {{ .Content }}

</body>
</html>
