@font-face {
	font-family: 'ElamiconLiberationSerif';
	src: url('/fonts/ElamiconLiberationSerif-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ElamiconLiberationSerif';
	src: url('/fonts/ElamiconLiberationSerif-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ElamiconLiberationSans';
	src: url('/fonts/ElamiconLiberationSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ElamiconLiberationSans';
	src: url('/fonts/ElamiconLiberationSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}


body {
	font-family: "ElamiconLiberationSans", "Verdana";
	color: #E2D8CF;
	background-color: black;
}

a {
	color: #A2787A;
}

.active {
	font-weight: bold;
}

.masthead {
	font-family: "ElamiconLiberationSerif", "Times New Roman";
	font-size: large;
}

.masthead a {
	text-decoration: none;
}

.menu ul {
	font-family: "ElamiconLiberationSerif", "Times New Roman";
	list-style: none;
}

.menu::after {
  content: "";
  display: block;
  clear: both;
}

.menu li {
	float: left;
	border: 1px solid #E2D8CF;
	padding: 0.3em;
	text-decoration: none;
}

.menu a {
	text-decoration: none;
}
