<header     
{{ if .Params.bigtitle }}
	class="big"
{{ end }}>
{{ if .Params.bigtitle }}
{{ else }}
	<a href="/">
		<img src="/logo.png" alt="GEAS logo" class="logo">
	</a>
{{ end }}
	<div class="masthead">
		{{ if .Params.bigtitle }}
			<img src="/banner.png" alt="GEAS banner" class="banner">
		{{ end }}
		<a href="/">
			<span class="title">
				Alice Kober Gesellschaft für die Entzifferung antiker Schriftsysteme
			</span>
		</a>
	</div>
	<nav class="menu">
		{{ $currentPage := . }}
		<ul>
		{{ range .Site.Menus.main }}
			<li {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active"{{ end }}>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
		{{ end }}
			<li>
				<a href="/GEAS Methodology for Statistical Script Comparison.pdf">Standards &amp; Definitions</a>
			</li>
			<li>
				<a href="/tool">Entzifferungstool</a>
			</li>
		</ul>
	</nav>
    <div id="background">
​ ​
​​​​​​​​​​​​​
    </div>

</header>
