<header>
	<div class="masthead">
		<a href="/">
			 Zentrum für die Entzifferung Antiker Schriftsysteme 
		</a>
	</div>
	<nav class="menu">
		{{ $currentPage := . }}
		<ul>
		{{ range .Site.Menus.main }}
			<li {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active"{{ end }}>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
		{{ end }}
		</ul>
	</nav>
    <div id="background">
            
    ​​
    
    
    


    
    ​​
    

    ​​
    ​​
    ​​
    ​​

    ​
    ​​
    ​​
    ​


    ​
    ​
    
    
    </div>

</header>
