<header
{{ if .Params.bigtitle }}
	class="big"
{{ end }}>
{{ if .Params.bigtitle }}
{{ else }}
	<a href="/">
		<img src="/logo.png" alt="GEAS logo" class="logo">
	</a>
{{ end }}
	<div class="masthead">
		{{ if .Params.bigtitle }}
			<img src="/banner.png" alt="GEAS banner" class="banner">
		{{ end }}
		<a href="/">
			<span class="title">
				Alice Kober Gesellschaft für die Entzifferung antiker Schriftsysteme
			</span>
		</a>
	</div>
	<nav class="menu">
		{{ $currentPage := . }}
		<ul>
		{{ range .Site.Menus.main }}
			<li {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} class="active"{{ end }}>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
		{{ end }}
		</ul>
	</nav>
	{{ if .Params.toolbox }}
	<nav class="toolbox">
		<h3>Character Pickers &amp; <br>Searchable Unicode Corpora</h3>
		<a href="/tool/#elam">Linear Elamite</a>
		<a href="/tool/#byblos">Byblos Script</a>
		<a href="/tool/#deiralla">Deir Alla Script</a>
		<a href="/tool/#raetic">Raetic</a>
		<a href="/tool/#lepontic">Lepontic</a>
		<a href="/tool/#etruscan">Etruscan</a>
		<a href="/tool/#runes">Runes (Elder Futhark)</a>

		<h3>External corpora<br>
		matching GEAS standards
		</h3>
		<a href="https://digitale-sammlungen.ulb.uni-bonn.de/maya/nav/index/all">
			Maya Hieroglyphs
		</a>
		<a href="https://www.epigraphica.de/indus/menueindus.htm">
			Indus Script
		</a>
	</nav>
	{{ end }}
    <div id="background">
​ ​
​​​​​​​​​​​​​
    </div>

</header>
