<dl class="member-details">

    <div>
        <dt>Name</dt>
        <dd><h3>{{ .Params.name }}</h3></dd>
    </div>

{{ with .Params.institution }}
    <div>
        <dt>Institution</dt>
        <dd>{{ . }}</dd>
    </div>
{{ end }}

    <div>
        <dt>Funktion</dt>
        <dd>{{ .Params.function }}</dd>
    </div>

{{ with .Params.contact }}
    <div>
        <dt>Kontakt</dt>
        <dd>{{ . }}</dd>
    </div>
{{ end }}

{{ with .Params.list_of_publications }}
    <div>
        <dt></dt>
        <dd>
            <a href="{{ . }}" class="download-button">
                Publications
            </a>
        </dd>
    </div>
{{ end }}

</dl>


